includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    tmpDir: cache/phpstan
    paths:
        - src
        - tests
        - public/index.php
        - noah
    bootstrapFiles:
        - vendor/autoload.php
    treatPhpDocTypesAsCertain: false
