parameters:
	ignoreErrors:
		-
			message: '#^Method TripBuilder\\Api\\AbstractApi\:\:sendResponse\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Api/AbstractApi.php

		-
			message: '#^Method TripBuilder\\Api\\AbstractApi\:\:sendResponse\(\) has parameter \$headers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Api/AbstractApi.php

		-
			message: '#^Property TripBuilder\\Api\\AbstractApi\:\:\$data type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Api/AbstractApi.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: src/Api/Airlines/Response.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: src/Api/Airports/Response.php

		-
			message: '#^Property TripBuilder\\Config\:\:\$configData type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Config.php

		-
			message: '#^Method TripBuilder\\Controllers\\AjaxController\:\:setGet\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Controllers/AjaxController.php

		-
			message: '#^Property TripBuilder\\Controllers\\AjaxController\:\:\$get type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Controllers/AjaxController.php

		-
			message: '#^Method TripBuilder\\Controllers\\SearchController\:\:setGet\(\) has parameter \$get with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Controllers/SearchController.php


		-
			message: '#^Property TripBuilder\\Controllers\\SearchController\:\:\$get type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Controllers/SearchController.php


		-
			message: '#^Method TripBuilder\\Helper\:\:getGitInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helper.php

		-
			message: '#^Method TripBuilder\\Helper\:\:random\(\) has parameter \$range with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helper.php

		-
			message: '#^Method TripBuilder\\Noah\\AbstractCommand\:\:getAllDatabaseTables\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Noah/AbstractCommand.php

		-
			message: '#^PHPDoc tag @return with type float\|int is not subtype of native type float\.$#'
			identifier: return.phpDocType
			count: 1
			path: src/Noah/Flights/Generate.php

		-
			message: '#^Property TripBuilder\\Noah\\Flights\\Generate\:\:\$count type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Noah/Flights/Generate.php

		-
			message: '#^Parameter \#3 \$value of function curl_setopt expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Noah/Grab/Suppliers.php
