includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
        - tests
        - index.php
        - noah
    bootstrapFiles:
        - vendor/autoload.php
    treatPhpDocTypesAsCertain: false
