<?php
$_mysql = [
/** MySQL credentials ================================== */
    'host'  => 'localhost',
    'user'  => 'dbuser',
    'pass'  => 'dbpass',
    'db'    => 'dbname'
/**===================================================== */
];
